In [1]:
import pandas as pd
price_demand_data = pd.read_csv('price_demand_data.csv')
price_demand_data["PRICECATEGORY"] = price_demand_data["PRICECATEGORY"].replace(["LOW", "MEDIUM", "HIGH", "EXTREME"],[1, 2, 3, 4])
price_demand_data[["DATE", "Time"]] = price_demand_data["SETTLEMENTDATE"].str.split(" ", expand=True)
price_demand_data = price_demand_data.groupby('DATE').agg({'TOTALDEMAND': 'max','PRICECATEGORY': 'max'})
price_demand_data["PRICECATEGORY"] = price_demand_data["PRICECATEGORY"].replace([1, 2, 3, 4],["LOW", "MEDIUM", "HIGH", "EXTREME"])
price_demand_data

           TOTALDEMAND PRICECATEGORY
DATE
1/01/2021      5019.64           LOW
1/02/2021      5228.29        MEDIUM
1/03/2021      5225.37           LOW
1/04/2021      5807.02        MEDIUM
1/05/2021      5261.09        MEDIUM
...                ...           ...
9/04/2021      5688.63        MEDIUM
9/05/2021      5222.89        MEDIUM
9/06/2021      7224.91        MEDIUM
9/07/2021      7536.11       EXTREME
9/08/2021      6675.69          HIGH

[244 rows x 2 columns]

In [12]:
price_demand_data.to_csv('cleaned_price.csv', encoding='utf-8', index=False)

# Below are detail code to show price clean method step by step

In [1]:
import pandas as pd
price_demand_data = pd.read_csv('price_demand_data.csv')

In [2]:
price_demand_data.head()

  REGION  SETTLEMENTDATE  TOTALDEMAND PRICECATEGORY
0   VIC1  1/01/2021 0:30      4179.21           LOW
1   VIC1  1/01/2021 1:00      4047.76           LOW
2   VIC1  1/01/2021 1:30      3934.70           LOW
3   VIC1  1/01/2021 2:00      3766.45           LOW
4   VIC1  1/01/2021 2:30      3590.37           LOW

In [3]:
print(f'price_demand_data shape is {price_demand_data.shape}')
price_demand_data.dtypes

price_demand_data shape is (11664, 4)

REGION             object
SETTLEMENTDATE     object
TOTALDEMAND       float64
PRICECATEGORY      object
dtype: object

In [4]:
price_demand_data["PRICECATEGORY"] = price_demand_data["PRICECATEGORY"].replace(["LOW", "MEDIUM", "HIGH", "EXTREME"],[1, 2, 3, 4])
price_demand_data

      REGION    SETTLEMENTDATE  TOTALDEMAND  PRICECATEGORY
0       VIC1    1/01/2021 0:30      4179.21              1
1       VIC1    1/01/2021 1:00      4047.76              1
2       VIC1    1/01/2021 1:30      3934.70              1
3       VIC1    1/01/2021 2:00      3766.45              1
4       VIC1    1/01/2021 2:30      3590.37              1
...      ...               ...          ...            ...
11659   VIC1  31/08/2021 22:00      4861.91              2
11660   VIC1  31/08/2021 22:30      4748.74              2
11661   VIC1  31/08/2021 23:00      4620.09              2
11662   VIC1  31/08/2021 23:30      4834.00              2
11663   VIC1    1/09/2021 0:00      4811.27              2

[11664 rows x 4 columns]

In [5]:
price_demand_data[["DATE", "Time"]] = price_demand_data["SETTLEMENTDATE"].str.split(" ", expand=True)
price_demand_data

      REGION    SETTLEMENTDATE  TOTALDEMAND  PRICECATEGORY        DATE   Time
0       VIC1    1/01/2021 0:30      4179.21              1   1/01/2021   0:30
1       VIC1    1/01/2021 1:00      4047.76              1   1/01/2021   1:00
2       VIC1    1/01/2021 1:30      3934.70              1   1/01/2021   1:30
3       VIC1    1/01/2021 2:00      3766.45              1   1/01/2021   2:00
4       VIC1    1/01/2021 2:30      3590.37              1   1/01/2021   2:30
...      ...               ...          ...            ...         ...    ...
11659   VIC1  31/08/2021 22:00      4861.91              2  31/08/2021  22:00
11660   VIC1  31/08/2021 22:30      4748.74              2  31/08/2021  22:30
11661   VIC1  31/08/2021 23:00      4620.09              2  31/08/2021  23:00
11662   VIC1  31/08/2021 23:30      4834.00              2  31/08/2021  23:30
11663   VIC1    1/09/2021 0:00      4811.27              2   1/09/2021   0:00

[11664 rows x 6 columns]

In [6]:
price_demand_data = price_demand_data.groupby('DATE').agg({'TOTALDEMAND': 'max','PRICECATEGORY': 'max'})

In [7]:
price_demand_data["PRICECATEGORY"] = price_demand_data["PRICECATEGORY"].replace([1, 2, 3, 4],["LOW", "MEDIUM", "HIGH", "EXTREME"])
price_demand_datatotal_sales = total_sales.reset_index()

           TOTALDEMAND PRICECATEGORY
DATE
1/01/2021      5019.64           LOW
1/02/2021      5228.29        MEDIUM
1/03/2021      5225.37           LOW
1/04/2021      5807.02        MEDIUM
1/05/2021      5261.09        MEDIUM
...                ...           ...
9/04/2021      5688.63        MEDIUM
9/05/2021      5222.89        MEDIUM
9/06/2021      7224.91        MEDIUM
9/07/2021      7536.11       EXTREME
9/08/2021      6675.69          HIGH

[244 rows x 2 columns]

In [8]:
price_demand_data.dtypes

TOTALDEMAND      float64
PRICECATEGORY     object
dtype: object

# Below are detail code to show weather clean method step by step, not finished yet

In [ ]:
price_demand_data = pd.read_csv('price_demand_data.csv')
price_demand_data["PRICECATEGORY"] = price_demand_data["PRICECATEGORY"].replace(["LOW", "MEDIUM", "HIGH", "EXTREME"],[1, 2, 3, 4])
price_demand_data[["DATE", "Time"]] = price_demand_data["SETTLEMENTDATE"].str.split(" ", expand=True)
price_demand_data = price_demand_data.groupby('DATE').agg({'TOTALDEMAND': 'max','PRICECATEGORY': 'max'})
price_demand_data["PRICECATEGORY"] = price_demand_data["PRICECATEGORY"].replace([1, 2, 3, 4],["LOW", "MEDIUM", "HIGH", "EXTREME"])
price_demand_data

In [11]:
import pandas as pd
weather_data = pd.read_csv('weather-data-imputed.csv',encoding= 'unicode_escape')
original = pd.read_csv('weather_data.csv',encoding= 'unicode_escape') 
weather_data.head()

,?Date,Minimum temperature (¡ãC),Maximum temperature (¡ãC),Rainfall (mm),Evaporation (mm),Sunshine (hours),Direction of maximum wind gust,Speed of maximum wind gust (km/h),Time of maximum wind gust,9am Temperature (¡ãC),...,9am cloud amount (oktas),9am wind direction,9am wind speed (km/h),9am MSL pressure (hPa),3pm Temperature (¡ãC),3pm relative humidity (%),3pm cloud amount (oktas),3pm wind direction,3pm wind speed (km/h),3pm MSL pressure (hPa)
0,1/01/2021,15.6,29.9,0.0,2.8,9.3,NNE,31,13:14,19.2,...,6,N,2,1018.8,28.1,43,5,E,13,1015.3
1,2/01/2021,18.4,29.0,0.0,9.4,1.3,NNW,30,8:22,23.3,...,7,NNW,17,1013.3,28.7,38,7,SW,4,1008.5
2,3/01/2021,17.0,26.2,12.6,4.8,7.1,WSW,33,17:55,18.3,...,8,WSW,4,1007.7,23.5,59,4,SSW,2,1005.2
3,4/01/2021,16.0,18.6,2.6,3.8,0.0,SSE,41,16:03,16.2,...,8,SSE,11,1010.0,18.2,82,8,SSW,17,1011.0
4,5/01/2021,15.9,19.1,11.2,1.0,0.0,SSE,35,11:02,17.2,...,8,SSE,13,1012.5,18.2,82,8,SSE,19,1013.3

In [9]:
print(f'Cleaned weather_data shape is {weather_data.shape}')
weather_data.dtypes

Cleaned weather_data shape is (243, 21)

?Date                                 object
Minimum temperature (¡ãC)            float64
Maximum temperature (¡ãC)            float64
Rainfall (mm)                        float64
Evaporation (mm)                     float64
Sunshine (hours)                     float64
Direction of maximum wind gust        object
Speed of maximum wind gust (km/h)      int64
Time of maximum wind gust             object
9am Temperature (¡ãC)                float64
9am relative humidity (%)              int64
9am cloud amount (oktas)               int64
9am wind direction                    object
9am wind speed (km/h)                  int64
9am MSL pressure (hPa)               float64
3pm Temperature (¡ãC)                float64
3pm relative humidity (%)              int64
3pm cloud amount (oktas)               int64
3pm wind direction                    object
3pm wind speed (km/h)                  int64
3pm MSL pressure (hPa)               float64
dtype: object

In [10]:
print(f'original weather_data shape is {original.shape}')
original.dtypes

original weather_data shape is (243, 21)

ï»¿Date                               object
Minimum temperature (Â°C)            float64
Maximum temperature (Â°C)            float64
Rainfall (mm)                        float64
Evaporation (mm)                     float64
Sunshine (hours)                     float64
Direction of maximum wind gust        object
Speed of maximum wind gust (km/h)    float64
Time of maximum wind gust             object
9am Temperature (Â°C)                float64
9am relative humidity (%)            float64
9am cloud amount (oktas)               int64
9am wind direction                    object
9am wind speed (km/h)                 object
9am MSL pressure (hPa)               float64
3pm Temperature (Â°C)                float64
3pm relative humidity (%)              int64
3pm cloud amount (oktas)             float64
3pm wind direction                    object
3pm wind speed (km/h)                 object
3pm MSL pressure (hPa)               float64
dtype: object

In [12]:

# Cannot merge together directly
price_weather = pd.merge([price_demand_data, weather_data], how='inner', left_on = 'Id', right_on = 'Id')
price_weather = price_weather.set_index('Date')
price_weather.head()

TypeError: merge() missing 1 required positional argument: 'right'

In [13]:
print(f'price_weather shape is {price_weather.shape}')
price_weather.dtypes

NameError: name 'price_weather' is not defined